.mission-statement {
  width: 100%;
  padding: 10px 0 20px 0;
  background-color: #b22222;
}

.mission-title {
  color: white;
  text-align: center;
  font-family: "Rickon Regular";
  font-size: 45px;
}

.mission-body {
  color: white;
  text-align: center;
}
